.instructions {
    align-items: center;
    width: 100%;
    display: flex;
}

.instructions .slider {
    width: 100%;
    max-width: 400px;
}
.carousel {
    width: 800px;
}
.container_partyplan{
    background-color: white;
}
.box__logo__text__party, .box__logo__text__plan{
    color: #C1FE8B;
}
.description, .description ul, .description li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
    padding: 0;
}
.description{
    width: 400px;
    height: 100px;
}
.description li{
    list-style-type: disc !important;
}