.react-calendar {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    box-sizing: border-box;
}

.react-calendar, .react-calendar * {
    box-sizing: border-box;
}

.react-calendar__tile {
    padding: 4px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.react-calendar__navigation {
    margin: 0;
}

.react-calendar__tile--active {
    background: red;
    color: white;
    border-radius: 50%;
}

.react-calendar__tile--now {
    background-color: #ff4c4c;
    border-radius: 50%;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
    font-size: 16px;
    font-weight: 500;
}
.react-calendar__year-view .react-calendar__tile, .react-calendar__decades, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
    padding: 0.8em 0.5em;
}
