.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 70vw;
}
.navbar_city{
    width: 30vw;
    display: flex;
}